
#aboutheader {
    color: darkblue;
    font-weight: bold;
    margin-top: 50px;
    margin-left: 50px;
}

.aboutpage h3 {
    color: deepskyblue;
    font-weight: bold;
    font-size: 24px;
}

.aboutpage p {
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

.aboutpage ul li {
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

div.logoPhilware {
    text-align: center;
}

.logoPhilware img {
    height: 137px;
    text-align: center;
}
